body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero {
    background-image: url("images/hero.jpg");
background-size: cover;
background-position: center;
    color: beige;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

nav a {
    color: beige;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.hero-text {
    text-align: bottom;
    margin-top: 150px;
}

.hero-text h1 {
    font-size: 48px;
}

.btn {
    background-color: #2c7be5;
    padding: 50px 100px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
.page-header {
    text-align: center;
    padding: 30px;
    background-color: #2c7be5;
    color: white;
}

.techniques-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px;
}

.tech-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.tech-card:hover {
    transform: scale(1.05);
}
